@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');

* {
    background-image: url('images/space2.jpg');
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    }  

h1 {
    color: white;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
}

#deets {
    color: white;
    font-size: 40px;
    text-align: center;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display:inline-flex
}

#deets a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }

#back {
    border: 5px solid white;
    display: inline-flex;
}